aiofiles==0.6.0
fastapi==0.75.1
gensim==3.8.3
hdbcli==2.7.21
pandas==1.2.1
nltk==3.5
numpy==1.19.5
recmetrics==0.1.5
schedule==1.1.0
scikit-learn==1.1.1
sentence-transformers==2.2.2
tensorflow==2.9.1
tensorflow-addons==0.13.0
tensorflow-datasets==4.1.0
tensorflow-estimator==2.9.0
tensorflow-hub==0.12.0
tensorflow-io-gcs-filesystem==0.26.0
tensorflow-metadata==0.27.0
tensorflow-model-optimization==0.5.0
tensorflow-probability==0.12.1
tensorflow-text==2.3.0
tensorflowonspark==2.2.1
torch==1.12.0
torch-geometric==1.6.3
torchaudio==0.12.0
torchmetrics==0.9.3
torchsummary==1.5.1
torchtext==0.13.0
torchvision==0.13.0